@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #0a0b0c;
    color: #fff;
    font-family: 'Itim', sans-serif;
}

hr {
    border-top: 1px solid #a2a2a2;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: left;
}

h1.title {
    margin-top: 40px;
    margin-bottom: 30px;
}

h2.grid-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav{
    height: 6rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: #0a0b0c;
    box-shadow: 0 3px 20px rgba(1,1,1,0);
}

/* Styling Navigation Links*/

.nav-links{
    width: 80vw;
    display: flex;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    font-weight: 600;
}

.nav-links li a{
    margin: 0 0.7vw;
    text-decoration: none;
    transition: all ease-in-out 350ms;
    padding: 10px;
}

.nav-links li a:hover{
    color:#000;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
}

.nav-links li{
    position:relative;
}

.nav-links li a:hover::before{
    width: 80%;
}


/*Buttons Styling*/

.convertNumber(){
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size:1rem;
    cursor:pointer;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    border-radius: 2em;
}

.convertNumber():hover{
    color:#fff;
    background-color: #ff0000;
    border:1.5px solid #ff0000;
    transition: all ease-in-out 350ms;
}

/*Navigation Icon Styling*/

.hamburger div{
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger{
    display: none;
}


/*Responsive Adding Media Queries*/

@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        background: #6b0000;
        position: fixed;
        opacity: 1;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade{
        opacity: 1;
    }

    /* Navigation Bar Icon on Click*/

        .toggle .bars1{
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .toggle .bars2{
            transition: all 0s ease;
            width: 0;
        }

        .toggle .bars3{
            transform: rotate(45deg) translate(-5px, -6px);
        }

}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #6b0000;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}


.container {
    display: grid;
    grid-template-areas: 
        'details details details character'
        'attributes attributes attributes expertise'
        'combat combat combat combat'
        'expertise2 expertise2 expertise2 expertise2';
    grid-gap: 30px;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.border {
    border-radius: 3px;
    border: solid;
    border-width: 0.1px;
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
}

.box {
    background: #000;
}

.expertise { 
    grid-area: expertise;
    height: 3500px;
} 

.expertise .grid-title {
    flex: 1;
}

.expertise .expertiseHeader {
    flex-direction: row;
    justify-self: center;
}

.expertise .expertiseHeader button {
    align-self: center;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 22px;
    background: #0a0b0c;
    border: 0.1px solid #ffffff;
    margin-right: 50px;
    box-shadow: 0 0 10px #ffffff;
}

table.expertise {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: auto;
    border-collapse: collapse;
    width: 90%;
}

table.expertise tr:first-child {
    border-bottom: 2px solid #a2a2a2;
}

table.expertise tr {
    border-bottom: 0.1px solid #a2a2a2;
}

table.expertise th {
    text-align: center;
    height: 25px;
    width: 10%;
}

table.expertise td {
    text-align: center;
    height: 35px;
    font-size: 12px;
}

table.expertise td input {
    text-align: center;
    width: 65%;
    border-bottom: 0.1px solid #a2a2a2;
}

table.expertise td select {
    font-size: 16px;
}


table.expertise td button {
    color: #fff;
    background: #0a0b0c;
}

.trashcan {
    color:white;
    width: 15px;
    font-size: 17px;
}

.attribute { 
    grid-area: attribute;
    height: 300px;
} 

.attribute .grid-title {
    flex: 1;
}

.attribute .attributeHeader {
    display: flex;
    flex-direction: row;
    justify-self: center;
}

.attribute .attributeHeader button {
    align-self: center;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 22px;
    background: #0a0b0c;
    border: 0.1px solid #ffffff;
    margin-right: 50px;
    box-shadow: 0 0 10px #ffffff;
}

table.attribute {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: auto;
    border-collapse: collapse;
    width: 90%;
}

table.attribute tr:first-child {
    border-bottom: 2px solid #a2a2a2;
}

table.attribute tr {
    border-bottom: 0.1px solid #a2a2a2;
}

table.attribute th {
    text-align: center;
    height: 25px;
    width: 20%;
}

table.attribute td {
    text-align: center;
    height: 35px;
    font-size: 12px;
}

table.attribute td input {
    text-align: center;
    width: 65%;
    border-bottom: 0.1px solid #a2a2a2;
}

table.attribute td select {
    font-size: 16px;
}


table.attribute td button {
    color: #fff;
    background: #0a0b0c;
}

.trashcan {
    color:white;
    width: 15px;
    font-size: 17px;
}
