body {
  background-image: url('sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

@media screen and (max-width: 480px) {
  body {
    background-size: contain;
  }
}
