html, body {
    min-height: 100vh;
    width: 80%;
    margin: auto;
    padding: 0;
    background: #353741;
    color: #dcdee3;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-align: center;
}

html {
    background: #17181a;
}

body {
    position: relative;
    margin: auto;
    padding-bottom: 1em;
    border-left: 2px #6b6c75 solid;
    border-right: 2px #6b6c75 solid;
    box-shadow: 0 0 100px -20px #000000;
}

.panel {
    background: #2a2c31;
    border: 1px #6b6c75 solid;
    padding: 1em;
    margin: 1em;
}

.textheavy p {
    margin: 1em 0 1em 0;
}

.h-container {
    margin: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}
.v-container {
    margin: 0;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-height: 100%;
}

.flex-child {
    flex: 0 0 fit-content;
}
.flex-fill {
    flex: 1 1;
}

.call {
    border: none;
    margin: 10px;
    max-width: 30%;
    cursor: pointer;
    animation-name: call-appear;
    animation-duration: 1s;
}
@keyframes call-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.aliases {
    margin-top: 10px;
    flex: 0 0 200px;
}

.log {
    text-align: left;
    flex: 1 1;
    overflow-y: hidden;
    min-width: 40vw;
}

.inner-log {
    display: flex;
    flex-flow: column-reverse;
    overflow-y: auto;
    height: 200px;
}
.inner-log p {
    font-family: Courier New, Courier, monospace;
    font-size: .8em;
    line-height: 1em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 200px;
    padding: 5px;
    background-color: #16171b;
    color: #fff;
    text-align: center;
    font-size: 0.75em;
    position: absolute;
    transform: translateX(-50%);
    margin-top: 25px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    animation-name: tooltip-fade-in;
    animation-duration: 1s;
}
@keyframes tooltip-fade-in {
    from {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tooltip .tooltiptext::after {
    content:  '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}


.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    visibility: hidden;
}
div:hover ~ .close-button {
    visibility: visible;
}
.close-button:hover {
    visibility: visible;
}

h1, h2, h3, p, .h2 {
    line-height: 1.5em;
    margin: 0
}

h1 {
    text-transform: uppercase;
    font-size: 1.5em;
}

h2, .h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

code {
    padding: 1px 3px 1px 3px;
    font-family: 'Courier New', Courier, monospace;
    color: #e9ae7e;
    background-color: #0b0b0c;
    border-radius: 5px;
}

.input, .input-text {
    color: #dcdee3;
    font-size: 0.8em;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    padding: .5em;
    margin: 1px;
    cursor: pointer;
}
.input:hover {
    border: 1px #eca163 solid;
    color: #eca163;
}

.input-text {
    width: 80%;
    max-width: 50em;
    cursor: text;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-radio-container {
    display: block;    
    position: relative;
    cursor: pointer;
    padding-left: 1.1em;
    line-height: 1;
    
}
.input-radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.input-radio-check {
    position: absolute;
    top: 0;
    left: 0;
    height: .8em;
    width: .8em;
    background-color:#6b6c75;
    border-radius: 50%;
}
.input-radio-container:hover input ~ .input-radio-check {
    background-color:#95969e;
}
.input-radio-container input:checked ~ .input-radio-check {
    background-color:#d8a378;
}
.input-radio-check:after {
    content: "";
    position: absolute;
    display: none;
}
.input-radio-container input:checked ~ .input-radio-check:after {
    display: block;
}
.input-radio-container .input-radio-check:after {
    top: .25em;
    left: .25em;
    width: .3em;
    height: .3em;
    border-radius: 50%;
    background:#16171b;
}

.input-file:focus+.input {
    border: 1px #dcdee3 solid;
}

.page-button,
.page-button-active {
    background: none;
    border: none;
    color: #dcdee3;
    font-size: 1.2em;
    margin: 0 .3em 0 .3em;
    cursor: pointer;
}
.page-button:hover {
    color: #d8a378;
}
.page-button-active {
    color: #d8a378;
}

img {
    padding: 5px;
}
